@media (max-width: 768px) {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Montserrat', sans-serif;
    max-width: 768px;
    margin: 0 auto;
  }

  /* ------------------------------- HEADER ------------------------------- */
  .header {
    position: relative;
  }

  .container_header {
    margin: 0px auto;
    width: 100%;
  }

  .header .crop {
    height: 900px;
  }

  #logo {
    position: absolute;
    top: 6.25%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  #navlink_mobile {
    top: 20%;
    width: 100%;
  }

  .header a.icon {
    top: 8%;
    font-size: 6.5vw;
  }

  #navlink_mobile a {
    padding: 4% 0%;
    font-size: 5vw;
  }

  #logo_name h1 {
    font-size: 15vw;
  }

  /* ------------------------------- CONTENT ------------------------------- */

  .content .cls1 h1  {
    width: 90%;
    font-size: 9vw;
  }

  .content .cls2 h1  {
    width: 90%;
    font-size: 9vw;
  }

  .content h4 {
    font-size: 5vw;
  }

  .content .p1 {
    font-size: 3vw;
  }

  .content .p2 {
    font-size: 4vw;
  }

  .content a {
    padding-left: 0%;
    font-size: 3vw;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  .content button a {
    text-align: center;
  }

  /* ------------------------------- Our Group ------------------------------- */
  #our_group {
    position: relative;
    height: 2200px;
  }

  #comp {
    position: absolute;
    top: 22%;
    text-align: center;
  }

  #description {
    top: 55%;
  }

  /* ------------------------------- Services ------------------------------- */
  #services {
    background-color: #4e9457;
    position: relative;
    height: 2200px;
  }

  .area {
    height: 22%;
    padding: 7%;
  }

  .area h2 {
    font-size: 6vw;
  }

  .area i {
    padding-right: 5%;
    font-size: 3.5vw;
  }

  .area:hover i {
    color: #000000;
  }

  /* ------------------------------- Our team ------------------------------- */
  #our_team {
    position: relative;
    height: 1700px;
  }

  #our_team h1 {
    position: absolute;
    top: 6%;
  }

  #team_section1 {
    top: 30%;
  }

  #team_section2 {
    top: 52%;
  }

  #team_section3 {
    top: 74%;
  }

  .char .p1 {
    font-size: 2vw;
  }

  /* ------------------------------- References ------------------------------- */
  #references {
    position: relative;
  }

  #references .crop {
    height: 1300px;
  }

  .crop.crop-square img {
    width: 500%;
    margin: 0 0 0 -200%;
  }

  #references #desc {
    top: 26%;
  }

  /* ------------------------------- Impressum ------------------------------- */
  #impressum {
    position: relative;
    height: 2000px;
  }

  #impressum #text {
    top: 13%;
  }

  #impressum #text a {
    font-size: 4vw;
  }

  #impressum #info {
    top: 52%;
  }

  #info #ctme a {
    font-size: 4vw;
  }

  /* ------------------------------- Contact ------------------------------- */
  #contact {
    position: relative;
    height: 2200px;
  }

  #contact #form {
    top: 18%;
  }

  #form input {
    font-size: 5vw;
  }

  #form textarea {
    font-size: 5vw;
    padding-top: 5%;
  }

  #contact #image {
    width: 50%;
    position: absolute;
    top: 63%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }

  #contact #social {
    width: 85%;
    position: absolute;
    top: 81%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }

  #social_links {
    margin-top: 10%;
  }

  #social_links a {
    font-size: 4vw;
  }

  /* ------------------------------- FOOTER ------------------------------- */
  .footer {
    position: relative;
    height: 800px;
    margin-bottom: -4px;
    background-color: #4e9457;
  }

  .footer .p2 {
    font-size: 4vw;
  }

  .footer #subscribe_form {
    top: 35%;
  }

  #subscribe_form input {
    font-size: 5vw;
  }

  #subscribe_form i {
    font-size: 5vw;
  }

  .footer #logo {
    position: absolute;
    top: 58%;
    width: 25%;
    margin-left: 20%;
  }

  .footer #navlink {
    position: absolute;
    top: 56%;
    left: 50%;
    width: 30%;
    text-align: center;
  }

  .footer #navlink a {
    font-size: 3vw;
  }

  /* ------------------------------- BASE ------------------------------- */

  .base {
    height: 100px;
    position: relative;
    background-color: #66ad70;
  }

  .base .p2 {
    font-size: 3vw;
  }

  .alignleft {
    position: absolute;
    top: 1%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }
  .alignleft a {
    font-size: 3vw;
  }

  .alignright {
    position: absolute;
    top: 30%;
    left: auto;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }
}
