@media (max-width: 1024px) {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Montserrat', sans-serif;
    max-width: 1024px;
    margin: 0 auto;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .crop {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .crop img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
  .crop.crop-top img { margin: -10% auto 0; }
  .crop-bottom img { margin: 0 auto -10%; }
  .crop.crop-vertically img { margin: -9% auto; }
  .crop.crop-right img { width: 140%; }
  .crop.crop-left img { width: 140%; margin: 0 0 0 -40%; }
  .crop.crop-horizontally img { width: 180%; margin: 0 -20%; }
  .crop.crop-square img {
    width: 300%;
    margin: 0 0 0 -75%;
  }

  /* ------------------------------- HEADER ------------------------------- */
  .header {
    position: relative;
  }

  .container_header {
    margin: 0px auto;
    width: 90%;
  }

  .header .crop {
    height: 1000px;
  }

  .header #opacity {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    background-color: rgba(78, 148, 87, 0.3);
  }

  #logo {
    position: absolute;
    top: 6.25%;
    width: 20%;
  }

  #logo img {
    width: 100%;
    height: 10%;
  }

  #navlink_desktop {
    display: none;
  }

  #navlink_mobile {
    position: absolute;
    top: 15%;
    width: 90%;
    display: none;
    text-align: center;
    z-index: 1;
  }

  .header a.icon {
    display: block;
    position: absolute;
    right: 5.5%;
    top: 6.25%;
    color: white;
    font-size: 4vw;
  }

  .header a.icon:hover {
    color: #4e9457;
  }

  #navlink_mobile a {
    background-color: white;
    display: block;
    padding: 3% 0%;
    font-size: 2.5vw;
    letter-spacing: 2px;
    font-family: "Montserrat";
    font-weight: 600;
    color: black;
    list-style: none;
    border: 1px solid black;
    text-transform: uppercase;
    text-decoration: none;
  }

  #navlink_mobile a:hover {
    color: #4e9457;
  }

  #logo_name {
    position: absolute;
    top: 30%;
    text-align: center;
  }

  #logo_name h1 {
    font-size: 12vw;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 500;
  }

  #wrapper {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  button.scroll_down {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 80px;
    width: 50px;
    bottom: 60px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
  }
  button.scroll_down:before {
    position: absolute;
    top: 20px;
    left: 47%;
    content: '';
    width: 8px;
    height: 8px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: scroll_down_btn-animation 2s infinite;
    animation: scroll_down_btn-animation 2s infinite;
    box-sizing: border-box;
  }

  @keyframes scroll_down_btn-animation {
    0% {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 30px);
              transform: translate(0, 30px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes scroll_down_btn-animation {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  /* ------------------------------- CONTENT ------------------------------- */
  .content {
    width: 100%;
    max-width: 1024px;
    margin: 0px auto;
  }

  .container {
    width: 80%;
    margin: 0px auto;
  }

  .content .cls1 h1  {
    width: 80%;
    position: absolute;
    top: 5%;
    font-size: 7vw;
    color: #4e9457;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-family: "Raleway";
    font-weight: 500;
  }

  .content .cls2 h1  {
    width: 80%;
    position: absolute;
    top: 5%;
    font-size: 7vw;
    color: #ffffff;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-family: "Raleway";
    font-weight: 500;
  }

  .content h4 {
    font-size: 3vw;
    color: #000000;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-family: "Raleway";
    font-weight: 500;
  }

  .content .p1 {
    font-size: 2vw;
    letter-spacing: 2px;
    line-height: 130%;
    color: #959595;
    font-family: "Montserrat";
    font-weight: 600;
    text-transform: uppercase;
  }

  .content .p2 {
    font-size: 3vw;
    line-height: 200%;
    color: #000000;
    font-family: "Raleway";
    font-weight: 500;
  }

  .content button {
    width: 50%;
    height: 100px;
    background-color: #4e9457;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin: 0px auto;
    border:none;
  }

  .content button:focus {
    outline: none !important;
  }

  .content a {
    font-size: 3vw;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  .content button a {
    text-align: center;
  }

  /* ------------------------------- Our Group ------------------------------- */
  #our_group {
    position: relative;
    height: 1800px;
  }

  #our_group img {
    display: none;
  }

  #comp {
    position: absolute;
    width: 85%;
    top: 26%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }

  .companies {
    display: inline-block;
    padding: 0% 4%;
  }

  #description {
    position: absolute;
    top: 50%;
    width: 80%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }

  #our_group button {
    position: absolute;
    top: 85%;
  }

  #our_group #button_hr {
    display: none;
  }

  /* ------------------------------- Services ------------------------------- */
  #services {
    background-color: #4e9457;
    position: relative;
    height: 2000px;
  }

  #services img {
    display: none;
  }

  .area {
    position: absolute;
    width: 75%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    height: 20%;
    padding: 5%;
  }

  #area1 {
    top: 18%;
  }

  #area2 {
    top: 45%;
  }

  #area3 {
    top: 72%;
  }

  .area:hover {
    background-color: white;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .area .p1 {
    color: #ffffff;
  }
  .area:hover .p1 {
    color: #959595;
  }

  .area .p2 {
    text-transform: none;
    line-height: 110%;
    color: #ffffff;
  }
  .area:hover .p2 {
    color: #000000;
  }

  .area h2 {
    font-size: 3vw;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 500;
  }
  .area:hover h2 {
    color: #4e9457;
  }

  .area hr {
    width: 100%;
    height: 2px;
    border: none;
    background-color: #ffffff;
  }
  .area:hover hr {
    background-color: #000000;
  }

  .area i {
    padding-right: 5%;
    font-size: 2.5vw;
  }

  .area:hover i {
    color: #000000;
  }

  /* ------------------------------- Our team ------------------------------- */
  #our_team {
    position: relative;
    height: 2000px;
  }

  #our_team #our_team_bg {
    display: none;
  }

  #team_section1 {
    position: absolute;
    top: 27%;
    width: 80%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }

  #team_section2 {
    position: absolute;
    top: 47%;
    width: 80%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }

  #team_section3 {
    position: absolute;
    top: 67%;
    width: 80%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }

  .char {
    width: 30%;
    max-height: 300px;
    margin-left: 10%;
    float: left;
  }

  .char:last-child {
    width: 30%;
    margin-top: 15%;
    margin-right: 10%;
    float: right;
  }

  .char h4 {
    color: #343434;
    margin: 2% 0%;
  }

  .char .p1 {
    font-size: 1.8vw;
    color: #959595;
    text-transform: uppercase;
    text-align: center;
  }

  /* ------------------------------- References ------------------------------- */
  #references {
    position: relative;
  }

  #references .crop {
    height: 1200px;
  }

  #references #opacity {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 49, 49, 0.5);
  }

  #references h1 {
    position: absolute;
    top: 7%;
  }

  #references button {
    position: absolute;
    top: 80%;
  }

  #references #desc {
    position: absolute;
    top: 30%;
    width: 85%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }

  #references #desc .p2 {
    color: #ffffff;
  }

  /* ------------------------------- Impressum ------------------------------- */
  #impressum {
    position: relative;
    height: 1800px;
  }

  #impressum img {
    display: none;
  }

  #impressum #text {
    position: absolute;
    top: 20%;
    width: 85%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }

  #impressum #text .p2 {
    color: #959595;
  }

  #impressum #text a {
    font-family: "Raleway";
    font-size: 2.7vw;
    text-transform: lowercase;
    text-decoration: none;
    color: #959595;
  }

  #impressum #info {
    position: absolute;
    top: 50%;
    width: 85%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
  }

  #impressum #info #location .p2 {
    color: #343434;
  }

  #impressum #info #ctme {
    margin-top: 10%;
  }

  #ctme .p2 {
    color: #959595;
  }

  #info span {
    color: #343434;
  }

  #info #ctme a {
    font-family: "Raleway";
    font-size: 2.7vw;
    text-transform: lowercase;
    color: #343434;
  }

  #info #tax {
    margin-top: 10%;
  }

  #info #tax .p2 {
    color: #959595;
  }

  #impressum hr {
    position: absolute;
    top: 100%;
    width: 85%;
    height: 2px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    background-color: #343434;
    border: none;
    z-index: 1;
  }

  /* ------------------------------- Contact ------------------------------- */
  #contact {
    position: relative;
    height: 1800px;
  }

  #contact #impressum_bg {
    display: none;
  }

  #contact #form {
    position: absolute;
    top: 22%;
    width: 85%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
  }

  #form input {
    display: block;
    width: 100%;
    height: 70px;
    padding: 1% 0%;
    border: none;
    border-bottom: 2px solid #343434;
    font-size: 3vw;
    color: #959595;
    font-family: "Raleway";
    font-weight: 500;
    margin-bottom: 1%;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
  }

  #form textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid #343434;
    font-size: 3vw;
    color: #959595;
    font-family: "Raleway";
    font-weight: 500;
    margin-bottom: 15%;
    padding-top: 1%;
    resize: none;
  }

  #form input:focus {
    outline: none !important;
    border-bottom: 2px solid #4e9457;
    color: #000000;
  }

  #form textarea:focus {
    outline: none !important;
    border-bottom: 2px solid #4e9457;
    color: #000000;
  }

  #form button {
    position: absolute;
    top: 95%;
    width: 60%;
    height: 100px;
  }

  #contact #image {
    width: 30%;
    position: absolute;
    top: 75%;
  }

  #contact #social {
    width: 46%;
    position: absolute;
    top: 73%;
    left: 45%;
  }

  #social .p2 {
    line-height: 130%;
  }

  #social_links {
    width: 100%;
    margin-top: 16%;
  }

  #social_links .p1 {
    text-transform: uppercase;
    color: #959595;
  }

  #social_links a {
    font-size: 2vw;
    text-decoration: none;
    color: #959595;
    padding-left: 6%;
  }

  #social_links a:first-child {
    padding-left: 0%;
  }

  /* ------------------------------- FOOTER ------------------------------- */
  .footer {
    position: relative;
    height: 600px;
    margin-bottom: -4px;
    background-color: #4e9457;
  }

  .footer #footer_bg {
    display: none;
  }

  .footer .p2 {
    position: absolute;
    font-size: 2.6vw;
    text-align: center;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top: 10%;
    width: 85%;
    color: #ffffff;
  }

  .footer #subscribe_form {
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top: 30%;
    width: 85%;
    border-bottom: 2px solid #ffffff;
  }

  #subscribe_form input {
    width: 90%;
    max-height: 130px;
    padding: 3% 0%;
    border:none;
    background-color: #4e9457;
    font-size: 3vw;
    color: #ffffff;
    font-family: "Raleway";
    font-weight: 500;
  }

  #subscribe_form ::placeholder {
    color: #ffffff;
  }

  #subscribe_form input:focus {
    outline: none !important;
  }

  #subscribe_form button {
    background-color: #4e9457;
    width: 8%;
    max-height: 125px;
    border: none;
    cursor: pointer;
  }

  #subscribe_form i {
    color: white;
    font-size: 4vw;
    padding-left: 65%;
  }

  .footer #logo {
    position: absolute;
    top: 55%;
    width: 15%;
  }

  .footer #navlink {
    position: absolute;
    top: 53%;
    left: 70%;
    width: 20%;
    text-align: right;
  }

  .footer #navlink a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    line-height: 200%;
    font-size: 2vw;
    font-weight: 600;
    color: #ffffff;
  }

  /* ------------------------------- BASE ------------------------------- */

  .base {
    height: 100px;
    position: relative;
    background-color: #66ad70;
  }

  .base img {
    margin-bottom: -5px;
  }

  .base .p2 {
    font-size: 1.8vw;
    color: #ffffff;
  }

  .alignleft {
    position: absolute;
    top: 20%;
    left: 8%;
  }
  .alignleft a {
    text-decoration: none;
    text-transform: none;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 1.8vw;
  }

  .alignright {
    position: absolute;
    top: 20%;
    right: 8%;
  }
}
